<div class="center hero-unit">
  <h1>Welcome to CourseHelper</h1>

  <h2>
     CMSC424 Web Project: Dylan Symington, Sawyer Symington
  </h2>

  <%= link_to "Students, Sign up now!", studentsignup_path, class: "btn btn-large btn-primary" %>
  <br />
  <%= link_to "Instructors, Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
