<footer class="footer">
  <small>
    CMSC424: Fall 2012
    by Dylan and Sawyer Symington
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>
